*{

  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

}
html{
  font-family: sans-serif;
  box-sizing: border-box;
}
span{
  display: inline-block;
  height: 5px;
  width: 20px;
  background-color: yellow;
  margin-bottom: 20px;
}
section.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.img1{
width: 40px;
height: 40px;
}
section.container{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 0px 9px 17px black;
}
h1{
  font-weight: 700px;
  font-size: 40px;
  margin: 0px 0px 10px;
}
.img{
  width: 100%;
}
p{
  font-weight: 400px;
  line-height: 20px;
  margin: 0px 0px 20px 0px;
}
section.img{
  height: 350px;
  width: 100%;
  background: url(image/pexels-photo-546819.jpeg);
  background-size: cover;
  background-position:center;
}
section.text-container{
  margin: 20px 20px 20px;
}
@media screen and (min-width: 700px){
  section.container{
    width: 100%;
    flex-direction: row; 
  }
  section.img{
    min-width: 300px;
    height: 330px;
  }
  section.text-container{
    margin: 0px 20px;
    max-width: 500px;
  }

}
@media screen and (min-width: 1000px){
  section.container{
    max-width: 1100px;
  }
}
h3{
  margin-left: 60px;
  margin-top: -35px;
}
h6{
  margin-left: 60px;
  margin-top: -20px;
}
